---
import ButtonMain from "@components/base/ButtonMain.astro";
import ButtonSub from "@components/base/ButtonSub.astro";
import HeroMainModuleOne from "@components/hero/HeroMainModuleOne.astro";
---

<div class="min-h-screen w-full overflow-hidden bg-muted-100 dark:bg-muted-1000 relative">
  <video class="absolute top-0 left-0 w-full h-full object-cover z-0" poster="/media/page/full/1687626078_1674a2ad11171533667d.jpg" src="/vid/intro.mp4" autoplay loop playsinline muted></video>
  <div class="absolute top-0 left-0 w-full h-full bg-black opacity-80 z-5"></div>
  <div class="min-h-screen w-full max-w-7xl mx-auto flex items-center px-4 relative z-10">
    <div class="w-full grid grid-cols-12">
      <div class="col-span-12 ltablet:col-span-5 lg:col-span-5">
        <div class="h-full ptablet:max-w-lg ptablet:mx-auto flex items-center mb-8 ltablet:mb-0 lg:mb-0">
          <div class="text-center ltablet:text-left lg:text-left font-sans space-y-4">
            <h1 class="font-medium text-4xl ptablet:text-5xl lg:text-5xl text-muted-800 text-white">
              Jual Sampah Jadi Mudah
            </h1>
            <p class="text-lg text-muted-500 text-muted-400">
              Kami hadir untuk mendaur ulang limbah domestik (Non B3) untuk mewujudkan Indonesia yang lebih baik.
            </p>
            <div class="w-full flex items-center justify-center ltablet:justify-start lg:justify-start gap-2">
              <a href="https://play.google.com/store/apps/details?id=app.kepul.id" target="_blank">
                <img src="/img/btn_google_play.png" class="h-14 'min-w-[130px]'"/>
              </a>
              <!-- <ButtonMain to={"/"} class="'min-w-[130px]'">
                <iconify-icon class="iconify w-4 h-4 text-white-400" icon="uiw:download"></iconify-icon>
                Download Sekarang
              </ButtonMain> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
