<div class="py-10">
  <div class="w-full ltablet:max-w-4xl max-w-5xl mx-auto">
    <div
      class="bg-primary-900 rounded-3xl shadow-xl overflow-hidden ltablet:grid ltablet:grid-cols-2 ltablet:gap-4 lg:grid lg:grid-cols-2 lg:gap-4"
    >
      <div
        class="flex items-center pt-10 pb-12 px-6 sm:pt-16 sm:px-16 ltablet:py-20 ltablet:pr-0 lg:py-20 lg:pr-0 xl:px-20"
      >
        <div class="ltablet:self-center lg:self-center font-sans">
          <h2 class="text-3xl font-medium text-white sm:text-4xl">
            <span class="block">Siap untuk menyelamatkan Lingkungan?</span>
            <span class="block text-muted-400">Download sekarang.</span>
          </h2>
          <a
            href="https://play.google.com/store/apps/details?id=app.kepul.id"
            target="_blank"
            class="mt-8 px-6 py-4"
          >
            <img src="/img/btn_google_play.png" class="h-14 'min-w-[130px]'"/>
          </a>
        </div>
      </div>
      <div class="-mt-6 aspect-w-5 aspect-h-3 md:aspect-w-2 md:aspect-h-1">
        <img
          class="block translate-x-6 translate-y-6 rounded-md object-cover object-left-top sm:translate-x-16 ltablet:translate-y-20 lg:translate-y-20"
          src="/img/bg-footer.png"
          alt="Cta image"
        />
      </div>
    </div>
  </div>
</div>