---
import clsx from 'clsx';
const { icon, title, text, bg } = Astro.props;
---

<div class="font-sans">
  <div class={`inline-block w-16 h-16 p-2 rounded-lg bg-muted-800 flex items-center justify-center`}>
    <img class="iconify w-7 h-7" src=`/img/menus/${icon}.svg`/>
  </div>
  <br/>
  <h4 class="text-xl mb-2 text-muted-800 dark:text-muted-100">{title}</h4>
  <p class="text-sm text-muted-500 dark:text-muted-400">{text}</p>
</div>