---
import Polka from "@components/base/Polka.astro";
import Card from "@components/base/Card.astro";
---

<div x-cloak class="relative overflow-hidden" x-intersect="activeStep = ''">
  <div x-data="swiper()" class="carousel-container">
    <div class="carousel-controls flex items-center justify-end mb-4">
      <button class="w-10 h-10 flex items-center justify-center rounded-xl text-muted-600 hover:text-primary-600 dark:text-muted-300 dark:hover:text-muted-100 hover:bg-muted-200 dark:hover:bg-muted-900 transition-colors duration-300" @click="swiper.slidePrev()">
        <iconify-icon class="iconify" icon="lucide:arrow-left"></iconify-icon>
      </button>

      <button class="w-10 h-10 flex items-center justify-center rounded-xl text-muted-600 hover:text-primary-600 dark:text-muted-300 dark:hover:text-muted-100 hover:bg-muted-200 dark:hover:bg-muted-900 transition-colors duration-300" @click="swiper.slideNext()">
        <iconify-icon class="iconify" icon="lucide:arrow-right"></iconify-icon>
      </button>
    </div>
    <div class="swiper-container" x-ref="container">
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Aplikasi yang memudahkan kita dalam pengelolaan sampah biar ga numpuk dirumah.
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/3.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Salman Buchari Pulungan
                  </h4>
                  <p class="text-xs text-muted-400">Play Store Reviewer</p>
                </div>
              </div>
            </div>
          </Card>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Sangat membantu, terlebih untuk pelaku usaha seperti saya yang gak punya waktu untuk ngurusin sampah, jadi sangat memudahkan dan menguntungkan. terimakasih.
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/2.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Nail Daulay
                  </h4>
                  <p class="text-xs text-muted-400">Play Store Reviewer</p>
                </div>
              </div>
            </div>
          </Card>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Driver ramah, admin responsif, dan harga bersaing.
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/10.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Lia Na
                  </h4>
                  <p class="text-xs text-muted-400">Play Store Reviewer</p>
                </div>
              </div>
            </div>
          </Card>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Cukup informatif, ada daftar harga sampahnya jadi bisa ada target untuk mulai kebiasaan ngumpulin sampah daur ulang.
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/9.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Martina Eka Septi
                  </h4>
                  <p class="text-xs text-muted-400">Play Store Reviewer</p>
                </div>
              </div>
            </div>
          </Card>
        </div>
        <!-- Slides -->
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Drivernya ramah, timbangan bagus, harga bersaing dan cs nya ramah.
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/11.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    Recindy Natalia
                  </h4>
                  <p class="text-xs text-muted-400">Play Store Reviewer</p>
                </div>
              </div>
            </div>
          </Card>
        </div>
        <div class="swiper-slide">
          <Card class="'p-6'">
            <div class="w-full flex flex-col gap-8 font-sans">
              <iconify-icon class="iconify w-8 h-8 flex items-center justify-center text-3xl text-primary-600 dark:text-rose-500" icon="fa6-solid:quote-left"></iconify-icon>
              <p class="text-muted-500 dark:text-muted-300">
                Terimakasih kepul, admin nya fast respon dan drivernya juga ramah, untuk harga mantap, terimakasih sukses terus.
              </p>
              <div class="w-full flex items-center gap-3">
                <div class="shrink-0 inline-flex relative w-10 h-10">
                  <img
                    src="https://media.cssninja.io/shuriken/avatars/16.svg"
                    class="object-cover max-w-full rounded-full dark:border-transparent shadow-sm"
                    alt="User image"
                  />
                </div>
                <div>
                  <h4 class="font-medium text-sm text-muted-800 dark:text-muted-100">
                    M Imansah
                  </h4>
                  <p class="text-xs text-muted-400">Play Store Reviewer</p>
                </div>
              </div>
            </div>
          </Card>
        </div>
      </div>
    </div>
  </div>
</div>
