---
import Layout from "@layouts/Default.astro";
import ButtonMain from "@components/base/ButtonMain.astro";
import HeroMain from "@components/hero/HeroMain.astro";
import SectionMuted from "@components/section/SectionMuted.astro";
import Container from "@components/section/Container.astro";
import SectionTitle from "@components/section/SectionTitle.astro";
import IconBlock from "@components/content/IconBlock.astro";
import Toolbar from "@components/content/doctors/grid/Toolbar.astro";
import Grid from "@components/content/doctors/grid/Grid.astro";
import Cta from "@components/content/Cta.astro";
import Testimonials from "@components/content/Testimonials.astro";

const features = [
  {
    title: "Jual Sampah",
    description: "Jual sampah daur ulang (non-B3), daftarkan sampah anda dan dapatkan uang tunai dan jaga lingkungan.",
    icon: "ic_jual_sampah",
    color: "blue"
  },
  {
    title: "Sedekah Sampah",
    description: "Donasikan sampah daur ulang untuk sosial, sumbangkan sampah anda untuk program amal yang terpercaya.",
    icon: "ic_sedekah",
    color: "green"
  },
  {
    title: "Kepul Point",
    description: "Antar dan jual sampah daur ulang secara mandiri di Kepul Point terdekat anda.",
    icon: "ic_point",
    color: "orange"
  },
  {
    title: "Bisnis & Event",
    description: "Kelola dan atur penjemputan sampah daur ulang dari perusahaan atau acara anda melalui Kepul.",
    icon: "ic_bisnis_event",
    color: "indigo"
  },
  {
    title: "Sekolah Bebas Sampah",
    description: "Memberdayakan siswa sekolah untuk mendapatkan uang kas atau tabungan tambahan dengan sampah daur ulang.",
    icon: "ic_sekolah",
    color: "rose"
  },
  {
    title: "Sembako Sampah",
    description: "Membantu masyarakat mendapatkan berbagai kebutuhan dengan harga lebih murah dengan potongan harga jual sampah daur ulang.",
    icon: "ic_sembako",
    color: "green"
  }
];
---

<Layout title="Home">
  <HeroMain />

  <SectionMuted>
    <Container>
      <SectionTitle
        title="Kenapa harus menggunakan Kepul.id?"
        subtitle=""
        minititle="HIGHLIGHTS"
      />

      <div class="grid md:grid-cols-3 ltablet:grid-cols-4 lg:grid-cols-4 gap-x-6 gap-y-12" x-intersect="activeStep = ''">
        {
          features.map((feature) => (
            <div>
              <IconBlock
                icon={feature.icon}
                title={feature.title}
                text={feature.description}
                bg={feature.color}
              />
            </div>
          ))
        }
      </div>
    </Container>
  </SectionMuted>

  <SectionMuted class="'border-b border-muted-200 dark:border-muted-800'">
    <Container>
      <SectionTitle
        title="Harga Produk Terkini"
        subtitle="Berikut adalah harga terkini untuk tiap kategori sampah daur ulang yang dapat anda jual."
        minititle="PRODUCTS"
      />

      <div id="doctors" x-data="goods()"  x-intersect="activeStep = 'spy-1'">
        <Toolbar />

        <!--Grid wrapper-->
        <div class="py-10">
          <div class="grid grid-cols-12 md:gap-12 pb-20">
            <!--Content-->
            <div class="col-span-12 lg:col-span-12">
              <!--Subgrid-->
              <Grid />
            </div>
          </div>
        </div>
      </div>
    </Container>
  </SectionMuted>

  <SectionMuted>
    <Container>
      <SectionTitle
        title="Jual Sampah Jadi Mudah"
        subtitle=""
        minititle="HOW-TO"
      />

      <div class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4">
        <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
          <div class="relative space-y-8 py-12 p-8">
            <img src="https://cdn3.iconfinder.com/data/icons/okku-delivery/32/Delivery_Okku_Expand-07-128.png" class="w-12" width="512" height="512" alt="burger illustration">
  
            <div class="space-y-2">
              <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                Pilah-memilah
              </h5>
              <p class="text-gray-600 dark:text-gray-300">
                Sebelum kamu menjual sampah daur ulang, pastikan sampahnya sudah dipilah, ya!
              </p>
            </div>
            <a href="#" class="flex items-center justify-between group-hover:text-secondary">
              <span class="text-sm">Read more</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
              </svg>                
            </a>
          </div>
        </div>
        <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
          <div class="relative space-y-8 py-12 p-8">
            <img src="https://cdn3.iconfinder.com/data/icons/okku-delivery/32/Delivery_Okku_Expand-34-128.png" class="w-12" width="512" height="512" alt="burger illustration">
  
            <div class="space-y-2">
              <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                Unggah Sampah
              </h5>
              <p class="text-gray-600 dark:text-gray-300">
                Buka aplikasi kepul, foto dan isi informasi sampah daur ulang yang kamu jual!
              </p>
            </div>
            <a href="#" class="flex items-center justify-between group-hover:text-secondary">
              <span class="text-sm">Read more</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
              </svg>                
            </a>
          </div>
        </div>
        <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
          <div class="relative space-y-8 py-12 p-8">
            <img src="https://cdn3.iconfinder.com/data/icons/okku-delivery/32/Delivery_Okku_Expand-27-128.png" class="w-12" width="512" height="512" alt="burger illustration">
  
            <div class="space-y-2">
              <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                Dijemput driver
              </h5>
              <p class="text-gray-600 dark:text-gray-300">
                Setelah kamu unggah di aplikasi Kepul, Driver kami siap menjemput dirumah!
              </p>
            </div>
            <a href="#" class="flex items-center justify-between group-hover:text-secondary">
              <span class="text-sm">Read more</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
              </svg>                
            </a>
          </div>
        </div>
        <div class="group relative bg-gray-50 dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
          <div class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800">
            <img src="https://cdn3.iconfinder.com/data/icons/okku-delivery/32/Delivery_Okku_Expand-13-128.png" class="w-12" width="512" height="512" alt="burger illustration">
  
            <div class="space-y-2">
              <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                Peroleh Uangnya
              </h5>
              <p class="text-gray-600 dark:text-gray-300">
                Setelah proses transaksi berhasil, uang akan kami transfer langsung ke rekening kamu.
              </p>
            </div>
            <a href="#" class="flex items-center justify-between group-hover:text-secondary">
              <span class="text-sm">Read more</span>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
                <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
              </svg>                
            </a>
          </div>
        </div>
      </div>
    </Container>
  </SectionMuted>

  <SectionMuted>
    <Container>
      <SectionTitle
        title="Apa kata mereka?"
        subtitle="Kepul.id telah membantu lebih dari 100+ ribu pengguna yang tersebar di Kota Medan dan Tangerang Selatan."
        minititle="REVIEWS"
        class="'mx-auto text-center'"
      />
      <Testimonials />
    </Container>
  </SectionMuted>

  <SectionMuted>
    <Container>
      <Cta />
    </Container>
  </SectionMuted>

  <SectionMuted>
    <Container>
      <div class="mt-12 grid grid-cols-3 sm:grid-cols-4 md:grid-cols-5">
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <a href="https://narasi.tv/read/narasi-daily/berdayakan-pengepul-sampah-kepul-juarai-innovation-pitching-competition-nu-tech-2022" target="_blank">
            <img src="https://static.wikia.nocookie.net/logopedia/images/4/42/Narasi_%282018%29.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="">
          </a>
          </div>
        <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
          <a href="https://sumut.idntimes.com/tech/trend/masdalena-napitupulu-1/startup-kepul-ciptaan-anak-medan-ajak-warga-olah-sampah-jadi-duit" target="_blank" rel="noopener noreferrer">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/IDN_Media.svg/800px-IDN_Media.svg.png" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="">
          </a>
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <a href="https://www.detik.com/sumut/bisnis/d-6287851/deretan-startup-keren-asal-medan-ada-yang-go-internasional" target="_blank" rel="noopener noreferrer">
            <img src="https://id.seedbacklink.com/wp-content/uploads/2022/07/detik-logo.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="">
          </a>
        </div>
        <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
          <a href="https://www.kompas.id/baca/sosok/2022/04/18/latif-menguangkan-sampah-mengatasi-masalah-kota" target="_blank" rel="noopener noreferrer">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Kompas.svg/800px-Kompas.svg.png" class="h-8 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="">
          </a>
          </div>
          <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
            <a href="https://www.jawapos.com/features/01428133/harga-lebih-pasti-ubah-sampah-jadi-berkah" target="_blank" rel="noopener noreferrer">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Jawa_Pos.png/800px-Jawa_Pos.png" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="">
            </a>
          </div>
      </div>
    </Container>
  </SectionMuted>
</Layout>
