---
const response = await fetch('https://api.kepul.id/v2/products?limit=100');
const result = await response.json();
const categories = [...new Set(result.data.products.map((product) => product.category))];
---

<div class="sticky top-24 md:top-20 w-full flex bg-white dark:bg-muted-800 border border-muted-200 dark:border-muted-700 rounded divide-x divide-muted-200 dark:divide-muted-700 shadow-xl shadow-muted-300/30 dark:shadow-muted-900/30 overflow-x-auto z-30">
  {
    categories.map((category) => (
      <button
          class="group flex-1 flex items-center px-5 py-3 whitespace-nowrap font-sans text-muted-800 dark:text-muted-100 hover:bg-muted-50 dark:hover:bg-muted-700 transition-colors duration-300"
          :class={`activeCategory === '${category}' ? 'bg-muted-50 dark:bg-muted-700' : ''`}
          @click={`activeCategory = '${category}'`}
        >
          <span
            class="flex items-center justify-center inset-x-0"
            :class={`activeCategory === '${category}' ? 'text-rose-500' : 'text-muted-400 group-hover:text-primary-500'`}
          >
          </span>
          <span>{category}</span>
      </button>
    ))
  }
</div>
